/*
    Fonts
*/
@font-face {
    font-family: Herculanum;
    src: url("fonts/Herculanum.ttf")
    format("herculanum");
}

/*
    Effects
 */

h1 {
    color: whitesmoke;
    font-family: Herculanum;
    font-size: 75px;
}
body {
    background-size: 100% 100%;
    background-attachment: fixed;

}
/*
    Message bar
*/
#message-bar {
    z-index: 1;
    opacity: 75%;
    width: 100%;
    /* Font Style */
    background-color: white;
    font-size: 18px;
    font-family: monospace;
    color: red;
}

#navigation-container {
    top: 200px;
    left: 325px;
    height: 550px;
    width: 250px;
    position: fixed;
    display: block;
    overflow: scroll;
}
#content-container {
    display: inline-block;
    border: black thick;
    position: absolute;
    top: 100px;
    right: 100px;
}
#content-container form p {
    font-family: Gill Sans, sans-serif;
    font-size: larger;
    color: #362f1e;
    display: block;
    width: 100%;
}

#content-container form input {
}
#next {
    justify-content: center;
    position:absolute;
    display: block;
    right: 350px;
    bottom: 250px;
    /* Round out the button */
    border-radius: 10px;
    border: 1px solid silver;
    /* Color schema for button */
    background-color: white;
    opacity: 95%;
    /* Button dimensions */
    width: 250px;
    height: 50px;
    /* Font styling inside button */
    font-size: 14px;
    text-align: center;
    font-family: monospace;
    font-weight: bolder;
}

ul li{
    /*color: #e7e70b;*/
    color: #cc9044;
    font-family: Herculanum;
}
ul li :hover{
    /*color: #e7e70b;*/
    background-color: #1e1b18;
    opacity: 85%;
}