/*
    Fonts
*/
@font-face {
    font-family: SummerLoving;
    src: url("fonts/SummerLoving.otf");
    format("summerloving");
}

/*
    Effects
 */

h1 {
    color: #ffffff;
    font-family: SummerLoving;
    font-size: 125px;
}

h3 {
    color: #ffffff;
    font-family: SummerLoving;
    font-size: 50px;
}


body {
    background-size: 100% 100%;
    background-attachment: fixed;

}
/*
    Message bar
*/
/*#message-bar {*/
/*    z-index: 1;*/
/*    opacity: 75%;*/
/*    width: 100%;*/
/*    !* Font Style *!*/
/*    background-color: white;*/
/*    font-size: 18px;*/
/*    font-family: monospace;*/
/*    color: red;*/
/*}*/

#navigation-container {
    top: 5%;
    left: 5%;
    max-width: 40%;
    max-height: 40%;
    position: fixed;
    display: block;
    overflow: scroll;
    opacity: 75%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#navigation-container::-webkit-scrollbar {
    display: none;
}
ul li {
    font-size: 20px;
}
#content-container {
    display: inline-block;
    border: black thick;
    position: absolute;
    top: 100px;
    right: 100px;
}
#content-container form {
    font-family: Gill Sans, sans-serif;
    font-size: larger;
    color: #362f1e;
    display: block;
    width: 100%;
}

#details-container {
    color: white;
    position: fixed;
    bottom: 5%;
    left: 5%;
    max-height: 45%;
    max-width: 40%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#details-container::-webkit-scrollbar {
    display: none;
}

#next {
    /*justify-content: center;*/
    position:absolute;
    /*display: block;*/
    right: 15%;
    bottom: 25%;
    /*!* Round out the button *!*/
    /*border-radius: 10px;*/
    /*border: 1px solid silver;*/
    /*!* Color schema for button *!*/
    /*background-color: white;*/
    /*opacity: 95%;*/
    /*!* Button dimensions *!*/
    /*width: 250px;*/
    /*height: 50px;*/
    /*!* Font styling inside button *!*/
    /*font-size: 14px;*/
    /*text-align: center;*/
    /*font-family: monospace;*/
    /*font-weight: bolder;*/
}

/*ul {*/
/*    background-color: rgba(180,176,170,0.05);*/
/*    opacity: 100%;*/
/*}*/
/*ul li{*/
/*    !*color: #e7e70b;*!*/
/*    color: #ffffff;*/
/*    font-family: Herculanum;*/
/*}*/
/*ul li :hover{*/
/*    !*color: #e7e70b;*!*/
/*    background-color: #7e7e7e;*/
/*    opacity: 50%;*/
/*}*/
